<body></body>
<template name="adduser">
   <style type="text/css">
    body {
        background-color: #f5f5f5;
    }
    </style>
    <form id="registerUser">
        <table>
            <tr>
                <td>Username: </td>
                <td>
                    <input type="text" name="username" placeholder="Please enter a username"> </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type="password" name="password" placeholder="Please enter a password"> </td>
            </tr>
            <tr>
                <td>user type:</td>
                <td>
                    <input type="text" name="userType" placeholder="Please enter a user type"> </td>
            </tr>
            <tr>
                <td>owner:</td>
                <td>
                    <input type="text" name="owner" placeholder="Please enter a owner"> </td>
            </tr>
        
            <input type="submit" value="Submit" class="btn">
            <!-- <a href="{{pathFor 'profile1'}}">Profile</a> -->
        </table>
    </form>
</template>