<template name="footer">
  <footer class="footer">
      <div class="container">
      	<div class="row" align="center">
        	<div class="text-muted text-center cr">&copy; Copyright 2015, Waygroup
         	<img src="/img/WAYGROUP.png" align="right" height="73px" width="73px"></div>
         </div>
      </div>
    </footer>

</template>
