/* Sticky footer styles


-------------------------------------------------- */
@import "lessVariables.lessimport";



.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  /*background: linear-gradient(#005AA2,#FC5e2B);*/
  background-color: @blueColor;
  padding : 10px;
}

.cr {
	color: #feffaa;
}


