@import "lessVariables.lessimport";


.header {
    position: relative;
    top: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 80px;
    background-color: @blueColor;
    /*background: linear-gradient(#FC5e2B, #005AA2);*/
}
.title {
	margin-top: 2px;
    color: @whiteColor;
    font-weight: 500;
    font-size: 33px;
}


