.even{background: red; color:white;}
.odd{background: darkred; color:white;}


.listscrollable {  
    height: 533px !important;
    overflow: scroll;
    margin-top: 17px;
}

button{
    margin-bottom: 20px;
}

#dropdown{
	position: absolute;
	top:20%;
	left:30%;
	width:40%;
	height:20%;
	z-index: 10;
    background-color: white;
    border: 1px solid grey;
    -webkit-box-shadow: 0 6px 6px 0px grey;
    -moz-box-shadow: 0 6px 6px 0px grey;
    box-shadow: 0 6px 6px 0px grey;
}

#dropdown > #downloadReport{
	position: absolute;
	top:10%;
	left:4%;
	width:100%;
	height:10%;
	z-index: 10;
}

#dropdown > .downloadAllReport {
	position: absolute;
	top: 65%;
	left: 70%;
	width: auto;
	height: auto;
	/*float: right;*/
}
#dropdown > .text{
	position: absolute;
	top: 65%;
	left: 5%;
	width: 30%;
}

#dropdown > #cancelBtn{
	position: absolute;
	top: 10%;
	left: 84%;
	width: 8%;
	height: 6%;
	/*background-color: black;*/
}
