<template name="home">
    <div class="container">
        <!-- <div class="page-header"> -->
        <!--   <p class="text-center">Report of all the images uploaded by user id xyz </p> -->
        <!--    </div> -->
        <div class="row">
            {{> navigator}}
            <div>
                {{# if loading}} {{> spinner}} {{else}} {{#if dataExist}}
                <div>
                    <button class="btn btn-info " id="download">DESCARGAR</button>
                </div>
                {{#if showList}}
                <div id="dropdown" class="row">
                    <div id="cancelBtn">
                     <img src="cancelBtn.jpeg">
                    </div>
                    <div id="downloadReport" class="form-group">
                        <input type="radio" name="report" value="ALLREPORT" checked="checked" id="inputRadio" /> DESCARGAR REPORTE COMPLETO
                        <br>
                        <input type="radio" name="report" value="WEEKREPORT" id="inputRadio" /> DESCARGAR REPORTE SEMANAL
                        <br>
                    </div>
                    {{#if isWeeklyReportEmpty}}
                    <p class="text-center text-danger text" id="isError">No Data Found</p>
                    {{/if}}
                    <button class="btn btn-info downloadAllReport" id="downloadAllReport" disabled="{{isWeekReportNotEmpty}}">DESCARGAR</button>
                </div>
                {{/if}}
                <div class="listscrollable">
                    <table id="myTable" name="table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>USUARIO</th>
                                <th>FECHA</th>
                                <th>LUGAR</th>
                                <th>TÍTULO</th>
                                <th>DESCRIPCIÓN</th>
                                <th>FOTO</th>
                                <th>NOTAS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each getImageData}}
                            <tr>
                                <td>{{username}}</td>
                                <td>{{createdAt}}</td>
                                <!-- <td>{{date.iso}}</td> -->
                                <td>{{location}}</td>
                                <td>{{title}}</td>
                                <td>{{description}}</td>
                                <td><a href={{getImageUrl image.name}}>FOTO</a>
                                </td>
                                <td id="notes">
                                    <div>
                                        <textarea id={{objectId}} class="myNotes" rows="3" cols="47" style="resize:none" required autofocus>{{PostId objectId}}
                                        </textarea>
                                    </div>
                                </td>
                                <!-- <td><img src={{image.url}} style="width:304px;height:228px">
                                </td> -->
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                {{else}}
                <p class="text-center text-danger">No Data Found</p>
                {{/if}} {{/if}}
            </div>
        </div>
    </div>
</template>
