<head>
  <title>Way Group</title>
</head>

<template name="layout">

    <div>
        {{>header}}
    </div>


    <div>
        {{>yield}}
    </div>

    <div>
        {{>footer}}
    </div>

</template>
