<template name="navigator">
<br/>
<nav class="navbar navbar-default">
<div class="container">
	<a class="navbar-brand" href="#" title="Home">Waygroup</a>
	<ul class="nav navbar-nav navbar-right">
	  <li role="presentation" class="{{navReport}}"><a href="/home">REPORTE</a></li>
	  <li role="presentation" class="{{navUser}}"><a href="/users">USUARIOS</a></li>
	</ul>
</div>
</nav>
</template>