<template name="registerWebUser">



    <div class="container">

        <div class="row">
            <div>

                <div class="registerWall">
                    <h1 class="text-center text-info">Web User</h1>
                    <!-- {{if error}}
                         <div >
                            {{error}}
                        </div>
                    {{/if}} -->

                    <form class="formRegisterWeb" id="formRegisterWeb" action="action">
                      <!--   {{#if error}}
                        <p class="text-center text-danger"> Invalid Data entered</p>
                        {{/if}} -->
                        <!-- 
                        <p class="text-center muted">Mobile User Name and Password are need to login to</p> -->
                        <input type="text" id="username" class="form-control" placeholder="username" required autofocus>
                        <input type="password" id="password" class="form-control" placeholder="Password" required>
                        <!--    <div class="radio-inline">
                            <label>
                                <input type="radio" name="optradio">User 1</label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="optradio">User 2</label>
                        </div> -->




                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Create User</button>
                        <!--       <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me"> Remember me
                        </label>
                        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span> -->

                        {{#if error}}
                        <p class="text-center text-danger"> Invalid Data entered</p>
                        {{/if}}

                         {{#if success}}
                        <p class="text-center text-success"> User created successfully</p>
                        {{/if}}

                         {{#if loading}}
                        {{> spinner}}
                        {{/if}}

                    </form>
                </div>
                <!--  <a href="#" class="text-center new-account">Create an account </a> -->
            </div>
        </div>


    </div>

</template>
