<template name="registerMobileUser">



    <div class="container">

        <div class="row">
            <div>

                <div class="registerWall">
                    <h1 class="text-center text-info">{{title}}</h1>


                    <form class="form-signin" id="register-form" action="action">
                        <!-- 
                        <p class="text-center muted">Mobile User Name and Password are need to login to</p> -->
                        <input type="text" id="username" class="form-control" placeholder="username" required autofocus>
                        <input type="password" id="password" class="form-control" placeholder="Password" required>
                        <!--    <div class="radio-inline">
                            <label>
                                <input type="radio" name="optradio">User 1</label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="optradio">User 2</label>
                        </div> -->
                        <div class="form-group">
                            <label>User Type</label>
                            <select class="form-control" id="usertype">
                                <option>1</option>
                                <option>2</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Owner</label>
                            <select class="form-control" id="owner">
                               <!--  <option>owner11</option> -->

                                
                                {{#each getOwners}}
                                <option>{{username}}</option>

                                {{/each}}
                            </select>
                        </div>



                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Create User</button>
                        <!--       <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me"> Remember me
                        </label>
                        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span> -->
                        {{#if error}}
                        <p class="text-center text-danger"> Invalid Data entered</p>
                        {{/if}}

                         {{#if success}}
                        <p class="text-center text-success"> User created successfully</p>
                        {{/if}}

                        {{#if loading}}
                          {{> spinner}}
                        {{/if}}

                    </form>
                </div>
                <!--  <a href="#" class="text-center new-account">Create an account </a> -->
            </div>


        </div>


    </div>

</template>
