<template name="registerOptions">



    <div class="container">

        <div class="row">


            <div class="optionsWall">
                <!--        <h1 class="text-center ">Create a Web user</h1> -->
                <p class="text-center text-muted">El usuario web es quien puede acceder a ver reportes</p>

                <button class="btn btn-lg btn-primary btn-block" id="webUserBtn">
                    Crear Usuario web</button>

                <div class="mobileUser">
                    <p class="text-center text-muted">El usuario móvil podrá ingresar desde su celular para publicar fotos y/o ver fotos</p>
                    <button class="btn btn-lg btn-primary btn-block" id="mobileUserBtn">
                        Crear Usuario Móvil</button>
                </div>

                <div class="mobileUser">
                    <p class="text-center text-muted"> Admin podrá ver todos los usuarios y contraseñas creadas</p>
                    <button class="btn btn-lg btn-primary btn-block" id="allUserBtn">
                        Lista de usuarios</button>
                </div>

                <!-- <p class="text-center muted">Already have a Web User? Click next to create the mobile User</p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Next</button> -->
            </div>
            <!--  <a href="#" class="text-center new-account">Create an account </a> -->
        </div>
    </div>




</template>
