
@import "lessVariables.lessimport";

.scrollable {  
    height: 423px !important;
    overflow: scroll;
}

.formRegister .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.formRegister .checkbox
{
    font-weight: normal;
}
.formRegister.form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.formRegister .form-control:focus
{
    z-index: 2;
}
.formRegister input[type="text"]
{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.formRegister input[type="password"]
{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.formRegister #webUerName
{
    margin-top: 25px;
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.registerWall
{
    width: 50%;
    max-width: 400px;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    padding: 10px 10px 10px 10px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px @blueColor;
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}