@import "lessVariables.lessimport";

.optionsWall
{
	width:50%;
	max-width: 425px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 63px;
    padding: 40px 50px 40px 50px;
    background-color: @lightGreyColor;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px @blueColor;
}

.webUser
{
	
	
}
.mobileUser
{
	
	margin-top:50px;
}

