<template name="signin">

    <!-- <div class="container">
      <div class="page-header">
        <h1>Sticky footer with fixed navbar</h1>
      </div>
      <p class="lead">This is some description that should be displayed on this page</p>
      
    </div> -->
    <div class="container">

        <!--    {{#if error}}
           Invalid username or password
        {{/if}} -->
        <div class="row">

            <div class="col-sm-6 col-md-4 col-md-offset-4">

                <div class="account-wall">

                    <h1 class="text-center login-title">Sign in </h1>
                    <form class="form-signin">
                        <input type="text" id="username" class="form-control" placeholder="username" required autofocus>
                        <input type="password" id="password" class="form-control" placeholder="Password" required>


                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Sign in</button>
                        <!--       <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me"> Remember me
                        </label>
                        <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span> -->
                        {{#if error}}
                        <p class="text-center text-danger"> Invalid Data entered</p>
                        {{/if}} {{#if loading}}
                        <!-- <p class="text-center "> Loading...</p> -->{{> spinner}}
                        {{/if}}
                    </form>
                </div>
                <!--  <a href="#" class="text-center new-account">Create an account </a> -->
            </div>
        </div>

    </div>


</template>
