<body></body>
<template name="updateuserone">
   <style type="text/css">
    body {
        background-color: #f5f5f5;
    }
    </style>
    <form id="registerUserOne">
        <table>
            <tr>
                <td>Username: </td>
                <td>
                    <input type="text" name="username" placeholder="Please enter a username"> </td>
            </tr>
             <tr>
                <td>user type: </td>
                <td>
                    <input type="text" name="type" placeholder="Please enter a user type"> </td>
            </tr>
        
            <input type="submit" value="Submit" class="btn">
            <!-- <a href="{{pathFor 'profile1'}}">Profile</a> -->
        </table>
    </form>
</template>