<template name="users">

<div class="container">
    <div class="row">
            {{> navigator}}
	</div>
	<div class="row">
        <div class="panel panel-default">
        <div class="panel-heading"><div class="row">
        	<div class="col col-md-9" align="left">
            <b>Users</b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Filter : <select class="filterUser" id="filterUser" name="filterUser">
                <option value="" {{Both}}>Both</option>
                <option value="1" {{One}}>Type 1</option>
                <option value="2" {{Two}}>Type 2</option>
            </select>
            </div>
            <div class="col col-md-3" align="right">

            </div>
        </div></div>
        {{#if dataExist}}
            <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <td><b>User Name</b></td>
                    <td><b>Password</b></td>       
                </tr>
                </thead>
                <tbody>
                    {{#each UsersInfo}}
                        <tr class="userInfo">
                            <td>{{UserName}}</td>
                            <td>{{Pwd}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
            </table>
            {{else}} <p class="text-center text-danger" >No Data Found</p>
    {{/if}}</div>         
</div></div>
</template>