<template name="waygroup">

<div class="container">
    <br/>
	<div class="row">
        <div class="panel panel-default">
        <div class="panel-heading"><div class="row">
        	<div class="col col-md-9" align="left">
            <b>Usuarios</b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Filter : <select class="filterUser" id="filterUser" name="filterUser">
                <option value="">Todos</option>
                <option value="3">Admins</option>
                <option value="1">Usuario 1</option>
                <option value="2">Usuario 2</option>
            </select>
            </div>
            <div class="col col-md-3" align="right">
            	<!-- <button type="button" class="save btn btn-primary btn-sm">
                	<span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> Add User
        		</button> -->
            </div>
        </div></div>
        {{#if dataExist}}
        <div class="listscrollable">
            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td><b>User Name</b></td>
                    <td><b>Password</b></td>
                    <!-- <td></td>   -->     
                </tr>
                </thead>
                <tbody>
                    {{#each UsersInfo}}
                        <tr>
                            <td>{{UserName}}</td>
                            <td>{{Pwd}}</td>
                            <!-- <td>
                                <button type="button" class="rmUser btn btn-primary btn-sm">Delete</button>
                            </td> -->
                        </tr>
                    {{/each}}
                    </tbody>
            </table>
        </div>

        {{else}} <p class="text-center text-danger" >No Data Found</p>

        {{/if}}</div>         
</div></div>
</template>