<!-- <head>
    <title>Test</title>
</head>

<body>

     <div class="container">
        <div class="page-header">
            <h1>Example Page Header</h1>
        </div>

        <div class="jumbotron">
            <h1>My First Bootstrap Page</h1>
            <p>Resize this responsive page to see the effect!</p>
        </div>
   

    </div> 
</body> -->




<!-- <div class="page-header">
            <h1>Example Page Header</h1>
        </div>

        <div class="jumbotron">
            <h1>My First Bootstrap Page</h1>
            <p>Resize this responsive page to see the effect!</p>
        </div>
    </div>
 <div class="navbar navbar-inverse navbar-fixed-top">
       <div class="navbar-inner">
         <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="brand" href="#">Project name</a>
           <div class="nav-collapse collapse">
             <ul class="nav">
               <li class="active"><a href="#">Home</a></li>
               <li><a href="#about">About</a></li>
               <li><a href="#contact">Contact</a></li>
             </ul>
           </div><
         </div>
       </div>
     </div>
     <div class="container">
       <h1>Login to continue</h1>
       <p>
         {{> loginButtons}}
       </p>
    </div>  -->
