body {
/*  background: url('img/background.jpg') #201161 no-repeat;*/
background:  #ffffff no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
